<div class="actor-ai">
    <div class="form-group stacked">
        <label>{{localize "AActors.General.Description"}}</label>
        <textarea class="actor-ai-textarea" name="description" placeholder="{{localize "AActors.General.DescriptionPlaceholder"}}">{{description}}</textarea>
    </div>
    <div class="form-group">
        <label>{{localize "AActors.General.DetailsComplexity"}}</label>
        <div class="form-fields">
            <select name="complexity" data-dtype="String">
                <option value="">{{localize "AActors.General.DetailsComplexity"}}</option>
                <option value="simple">{{localize "AActors.General.DetailsSimple"}}</option>
                <option value="medium">{{localize "AActors.General.DetailsMedium"}}</option>
                <option value="complex">{{localize "AActors.General.DetailsComplex"}}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label>{{localize "AActors.General.NoOfCareersPlaceholder"}}</label>
        <div class="form-fields">
            <input name="noOfCareers" type="number" value="{{noOfCareers}}" placeholder="{{localize "AActors.General.NoOfCareersPlaceholder"}}" data-dtype="Number">
        </div>
    </div>
    <div class="form-group">
        <label>{{localize "AActors.General.NoOfTalentsPlaceholder"}}</label>
        <div class="form-fields">
            <input name="noOfTalents" type="number" value="{{noOfTalents}}" placeholder="{{localize "AActors.General.NoOfTalentsPlaceholder"}}" data-dtype="Number">
        </div>
    </div>
    <footer class="form-footer">
        <button type="button" title="{{localize "AActors.General.Send"}}" data-action="send">
            <i class="fa-solid fa-up-long"></i> {{localize "AActors.General.Send"}}
        </button>
    </footer>
</div>
