<div class="actor-ai">
    <div class="form-group stacked">
        <label>{{localize "AActors.General.Description"}}</label>
        <textarea class="actor-ai-textarea" name="description" placeholder="{{localize "AActors.General.DescriptionPlaceholder"}}">{{description}}</textarea>
    </div>
    <div class="form-group">
        <label>{{localize "AActors.General.DetailsComplexity"}}</label>
        <div class="form-fields">
            <select name="complexity" data-dtype="String">
                <option value="">{{localize "AActors.General.DetailsComplexity"}}</option>
                <option value="simple">{{localize "AActors.General.DetailsSimple"}}</option>
                <option value="medium">{{localize "AActors.General.DetailsMedium"}}</option>
                <option value="complex">{{localize "AActors.General.DetailsComplex"}}</option>
            </select>
        </div>
    </div>
    {{#each systemFields}}
        {{#if visible}}
            <div class="form-group{{#if stacked}} stacked{{/if}}">
                <label>{{label}}</label>
                {{#if (eq type "select")}}
                    <div class="form-fields">
                        <select name="{{name}}" data-dtype="String">
                            {{#each options}}
                                <option value="{{value}}"{{#if (eq ../value value)}} selected{{/if}}>{{label}}</option>
                            {{/each}}
                        </select>
                    </div>
                {{else if (eq type "number")}}
                    <div class="form-fields">
                        <input name="{{name}}" type="number" value="{{value}}" placeholder="{{placeholder}}" data-dtype="Number" min="1" max="20">
                    </div>
                {{else}}
                    <textarea name="{{name}}">{{value}}</textarea>
                {{/if}}
            </div>
        {{/if}}
    {{/each}}
    <footer class="form-footer">
        <button type="button" title="{{localize "AActors.General.Send"}}" data-action="send">
            <i class="fa-solid fa-up-long"></i> {{localize "AActors.General.Send"}}
        </button>
    </footer>
</div>
